@font-face {
  font-family: "Dream Orphans";
  src: url("../assets/fonts/dream-orphans.ttf");
}

:root {
  --phoenix-red: #a50c0c;
  --dark-gray: #1f1f1f;
  --large-space: 46px;
  --small-space: 28px;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: x-large;
  font-family: "Open Sans";
  background-color: var(--dark-gray);
  color: white;
}

h1 {
  font-size: 96px;
  font-family: "Dream Orphans";
}

h2 {
  font-size: 42px;
  font-family: "Dream Orphans";
}

h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-right: var(--large-space);
  padding-left: var(--large-space);
  padding-top: var(--small-space);
  padding-bottom: var(--small-space);
}

/* fonts */
.dream-orphans {
  font-family: "Dream Orphans";
}
